body,
html {
    width: 100%;
}

h2 {

    color: blue;
}

.marge {
    margin-top: 150px;

}

.margecontacts {
    margin-top: 150px;
    margin-left: 55px;

}

.margecontacts2 {
    margin-top: 65px;


}

@media screen and (max-width: 320px) {
    .margecontacts {
        margin-top: 20px;
        text-align: center;
    }

    .margecontacts2 {
        margin-top: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 320px) {
    .map-responsive {
        width: 320px;
        height: 500px;
        margin-top: 0px;
    }

    .bcolor {
        width: 200px;
        justify-content: center;
        font-size: 20px;
        margin-left: 0;

    }

    .marge {
        margin-top: 0;
        margin-right: 0;

    }
}

@media screen and (max-width: 375px) {
    .margecontacts {
        margin-top: 20px;
        text-align: center;
    }

    .margecontacts2 {
        margin-top: 0px;
        text-align: center;
    }

}

@media screen and (max-width: 768px) {
    .margecontacts {
        margin-top: 20px;
        text-align: center;

    }

    .marge {
        margin-top: 0;
        margin-right: 0;

    }

}

.map-responsive {

    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.btsize {

    size: 15px;
}

#thumb_buttons {
    height: 80px;
    width: 120px;
    vertical-align: middle;
    margin: auto;
}

#thumb_up,
#thumb_down {
    margin: 0px 10px;
    transition: transform 100ms linear;
}

#thumb_up:hover,
#thumb_down:hover {
    transform: scale(1.2);
}

#thumb_up {
    width: 50px;
    margin-left: auto;
}

#thumb_down {
    width: 50px;
    margin-right: auto;
}

.margethumbs {

    margin-top: 100px;
}

.margecomment {
    margin-top: 50px;

}

.bcolor {
    margin-top: 25px;
    border: 5px solid;
    margin-left: 55px;
    border-top-color: green;
    border-left-color: green;
    border-bottom-color: blue;
    border-right-color: blue;
}

@media screen and (max-width: 1024px) {
    .rezisemap {
        width: 1024px;
        height: 350px;
    }

    .Title {
        font-size: 22px;
        width: 1024px;
        margin-left: 0;
    }

    .marge {
        margin-left: 0;
    }

}

@media screen and (max-width: 768px) {
    .rezisemap {
        width: 768px;
        height: 350px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .Title {
        font-size: 28px;
        width: 100%;
        margin-left: 0;
    }

}

@media screen and (max-width: 375px) {
    .rezisemap {
        width: 375px;
        height: 375px;

    }

    .Title {
        font-size: 30px;
        margin-left: 0;
    }

    .bcolor {
        width: 300px;
        margin-left: inherit;
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .rezisemap {
        width: 320px;
        height: 320px;
        margin-left: 2px;
        margin-right: 2px;
    }

    .Title {

        font-size: 25px;
        width: 100%;
        margin-left: 0;
    }
}

.lienreseau1 {

    font-size: 30px;
}

.margeres {
    margin-top: 150px;
    margin-left: 150px;
    font-size: 20px;
}

.list {
    list-style: none;
}

#commentary_form {

    justify-content: center;
}

.mais {

    margin-left: 25px;
}